<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>created_at</key>
		<string>2015-10-21 01:05:36</string>
		<key>description</key>
		<string></string>
		<key>extra</key>
		<string></string>
		<key>publish_at</key>
		<string></string>
		<key>id</key>
		<string>1</string>
		<key>reviewed_by</key>
		<string></string>
		<key>sourceurl</key>
		<string>https://en.wikipedia.org/</string>
		<key>title</key>
		<string>Wikipedia</string>
		<key>updated_at</key>
		<string>2015-10-21 01:05:36</string>
	</dict>
	<key>2</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>created_at</key>
		<string>2015-10-21 01:05:36</string>
		<key>description</key>
		<string></string>
		<key>extra</key>
		<string></string>
		<key>publish_at</key>
		<string></string>
		<key>id</key>
		<string>2</string>
		<key>reviewed_by</key>
		<string></string>
		<key>sourceurl</key>
		<string>http://www.ziaraat.org/</string>
		<key>title</key>
		<string>Ziaraat.org</string>
		<key>updated_at</key>
		<string>2015-10-21 01:05:36</string>
	</dict>
	<key>3</key>
	<dict>
		<key>author</key>
		<string></string>
		<key>created_at</key>
		<string>2015-10-21 01:05:36</string>
		<key>description</key>
		<string></string>
		<key>extra</key>
		<string></string>
		<key>publish_at</key>
		<string></string>
		<key>id</key>
		<string>3</string>
		<key>reviewed_by</key>
		<string></string>
		<key>sourceurl</key>
		<string>http://www.duas.org/</string>
		<key>title</key>
		<string>Duas.org</string>
		<key>updated_at</key>
		<string>2015-10-21 01:05:36</string>
	</dict>
</dict>
</plist>
