<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">


<dict>
	<key>1</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>ziarat</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>izne_dakhool</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string></string>
		<key>id</key>
		<string>3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>dua</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>map</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>image</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<key>7</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>history</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<key>8</key>
	<dict>
		<key>created_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>updated_at</key>
		<string>2015-10-13 18:37:12</string>
		<key>description</key>
		<string></string>
		<key>title</key>
		<string>other</string>
		<key>id</key>
		<string>8</string>
	</dict>
</dict>
</plist>
